<div class="container w-100 justify-content-center d-flex flex-row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light ms-5 my-3 col-8">
        <a class="navbar-brand"  [routerLink]="'/allposts'"><h1>myDevBlog</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active" [routerLink]="'/allposts'"><strong>All Posts</strong><span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" [routerLink]="'/create-post'" >New Post</a>
          </div>
        </div>
    </nav>
</div>

