<div class="card border-primary mb-3" style="max-width: 18rem;">
    <div class="card-header "><h3>Introducción a Python</h3>
        <p class="text-secondary">2024-02-01</p></div>
    <div class="card-body text-primary">
      <p class="card-text">Python se ha convertido en uno de los lenguajes de programación más populares. En este post, exploramos sus fundamentos y cómo empezar.</p>
      <div class="d-flex flex-row">
        <h5 class="card-title text-secondary">Juan Pérez</h5>
      <p class="ms-3 bg-info rounded text-white p-1">Añadir a Favoritos</p>
    </div>
    
    </div>
  </div>